.header {
  width: 100%;
  /*determina a largua da área do conteúdo de um elemento*/
  height: 100px;
  /*define altura dos boxes*/
  line-height: 100px;
  /*para controlar espaçamento entre as linhas do texto*/
}

.logo {
  text-align: center;
  /*usado para centralizar horizontalmente o texto na pagina -> pode usar o flexbox para centralizar verticalmente o texto*/
}

.logo img {
  width: calc(100% - 60%);
  object-fit: contain;
  /*faz remimensionar a imagm de modo que nao seja cortada e seja mostrada completamente dentro da área definida*/
  margin-top: -40px;
}

.logo h5 {
  font-weight: 600;
  /*para definir força da fonte*/
  font-size: 1rem;
  /*para definir tamanho da fonte*/
  color: #212245;
  margin-top: -40px;
  /*para definiçao de margin do TOPO*/
  margin-bottom: 0;
  /*para definção de margin da parte INFERIOR*/
}

.menu a {
  font-weight: 600;
  /*para definir força da fonte*/
  font-size: 1rem;
  /*tamanho da fonte*/
  color: #212245;
  transition: .3s;
}

.menu a:hover {
  color: #df2020;
}

.active__menu {
  color: #df2020 !important;
}

.cart__icon i,
.user i,
.mobile__menu i {
  font-size: 1.3rem;
  color: #212245;
  cursor: pointer;
}

.cart__icon {
  position: relative;
  /* serve para posicionar o elemento da página de acordo com as indicações que você definir, estabelecendo que ele aceita as propriedades top, bottom, left e righ*/
}

.cart__badge {
  position: absolute;
  /*posicionar qualquer elemento de acordo com o elemento pai que tenha um position diferente de static.*/
  top: 20px;
  /*espaço acima do elemento*/
  right: -10px;
  /*define posição horizontal de elemento em relação a borda direita*/
  background: #df2020;
  color: #fff;
  height: 15px;
  /*define a altura dos boxes*/
  width: 15px;
  /* determina a largura da área de conteúdo de um elemento*/
  border-radius: 50%;
  /*para arredondar as bordas*/
  font-size: .8rem;
  /*tamanho da fonte*/
  font-weight: 500;
  /*força da fonte*/
  display: flex;
  /*para tornar os itens como flex container*/
  align-items: center;
  /*controla o alinhamento de todos os itens no eixo transversal.*/
  justify-content: center;
}

.mobile__menu {
  font-weight: 600;
  display: none;
  /*retira o elemento do layout da página*/
}

.header__shrink {
  position: sticky;
  /*sticky pode ser entendido como uma mistura de position: relative e position: fixed . Ele se comporta até certo ponto como position: relative , depois altera seu comportamento para position: fixed .a */
  top: 0;
  left: 0;
  box-shadow: 5px 5px 15px -5px #fde4e4;
  /*utilizado para adicionar efeitos de sobra em volta do elemento*/
  background: #fff;
  z-index: 99999;

}


@media only screen and (max-width: 992px) {
  .logo img {
    width: calc(100% - 70%);
  }

  .logo h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .mobile__menu {
    display: block;
  }

  .cart__icon i,
  .user i,
  .mobile__menu i {
    font-size: 1rem;
  }

  .show__menu {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 80px;
    line-height: 80px;
  }

  .logo img {
    margin-top: -70px !important;
  }

  .logo h5 {
    margin-top: -55px;
  }
}