.single__product-content {
  padding-left: 50px;
  /*representa a distância do lado esquerdo do box*/
}

.product__price {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: #df2020 !important;
  margin-bottom: 0;
}

.products__price span {
  font-size: 2rem;
  /*para realizar o tamanho da letra*/
  color: #df2020;
  font-weight: 600;
}

.category {
  font-weight: 600;
  /*para dar 'força' a fonte*/
  color: #212245;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  /*para indicar espaço entre linhas e colunas*/
  margin-top: 10px;
}

.category span {
  padding: 5px 10px;
  /*define distancia entre conteudo e elemento e suas bordas*/
  background: #fde4e4;
  color: #212245;
  border-radius: 5px;
  /*para arredondamento das bordas*/
}

.tabs {
  border-bottom: 1px solid #fde4e4;
}

.tabs h6 {
  cursor: pointer;
}

.tab__content {
  padding: 30px 0px;
  /*define distancia entre o conteudo de um elemento e suas bordas*/

}

.tab__content p {
  line-height: 30px;
  color: #212245;
}

.tab__active {
  color: #df2020;
}

.form {
  width: 60%;
  /*largura dos elementos sera de 60% do seu bloco de contenção*/
  margin: auto;
  /*margin automatica para todos os ladoas*/
  background: #fde4e4;
  padding: 20px;
  /*define distancia entre o conteudo de um elemento e suas bordas*/
  border-radius: 5px;
}

.form__group {
  margin-bottom: 20px;
  /*distânciamento entre partes inferiores da margin*/
}

.form__group input,
.form__group textarea {
  width: 100%;
  background: transparent;
  padding: 7px 20px;
  border: none;
  border-bottom: 1px solid #212245b6;
}

.form__group input:focus,
.form__group textarea:focus {
  outline: none;
}

.user__name {
  font-weight: 600;
  color: #212245;
}

.user__email {
  font-size: 0.8rem;
}

.feedback__text {
  color: #212245b6;
}

.img__item {
  cursor: pointer;
}